<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Options</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Select Payment Method</h2>
        <ul>
            <li><a href="../templates/card.html">Card Payment</a></li>
            <li><a href="../templates/upi.html">UPI Payment</a></li>
            <li><a href="../templates/net.html">Net Banking</a></li>
        </ul>
    </div>
</body>
</html>